<div class="carousel slide" id="slider" data-ride="carousel">

  <!--indicators-->
  <!-- <ol class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ol> -->

  <div class="carousel-inner">

    <!-- 1st card -->
    <div class="carousel-item active">
      <div class="card">
        <img class="card-img-top img-fluid" src="https://picsum.photos/1000/600/" alt="Card image cap">
        <div class="card-body">
          <div class="carousel-caption">
            <h4 class="card-title">Mala Diaz</h4>
            <p class="card-text">210</p>
            <p class="card-text">Clicks</p>
          </div>
        </div>
      </div>
    </div>

    <!-- 2nd card -->
    <div class="carousel-item" id="slide1">
      <div class="card">
        <img class="card-img-top img-fluid" src="https://picsum.photos/1000/600/"   alt="Card image cap">
        <div class="card-body">
          <div class="carousel-caption">
            <h4 class="card-title">Sam Smith</h4>
            <p class="card-text">361</p>
           <p class="card-text">Clicks</p>
          </div>
        </div>
      </div>
    </div>

    <!-- 3rd card -->
    <div class="carousel-item" id="slide2">
      <div class="card">
        <img class="card-img-top img-fluid" src="https://picsum.photos/1000/600/"   alt="Card image cap">
        <div class="card-body">
          <div class="carousel-caption">
            <h4 class="card-title">Molly Smith</h4>
            <p class="card-text">562</p>
            <p class="card-text">Clicks</p>
          </div>      
        </div>
      </div>
    </div>

    <!-- 4th card -->
    <div class="carousel-item" id="slide3">
      <div class="card">
        <img class="card-img-top img-fluid" src="https://picsum.photos/1000/600/"  alt="Card image cap">
        <div class="card-body">
          <div class="carousel-caption">
            <h4 class="card-title">Samy Diaz</h4>
            <p class="card-text">662</p>
            <p class="card-text">Clicks</p>
          </div>      
        </div>
      </div>
    </div>

 
  </div>

  <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<router-outlet></router-outlet>