// #slider .carousel-item {
//     height: 500px;
//   }
  
//   .carousel-caption {
//     font-size: 18px;
//   }
  
//   .carousel-item>img {
//     width: 100%
//   }

//Its for row example
.carousel{
  width: 100%;
}
.carousel:after {
  content: "";
  display: table;
  clear: both;
}


//check as a column example
.carousel-item{
  float: left;
  width: 33%;
  padding: 0 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

